<!doctype html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'WordleColourResult/style.css' %}">

	{% block title %}
	Wellcome home
	{% endblock %}
	<img src="/static/WordleColourResult/images/sqgrey.gif">
</head>

<body>
	{% block content %}
	<h1>Home page</h1>
	{% endblock %}
	<ul>
		{% for WordleResult in names %}
			<li>{{ WordleResult.user_name }} </li>
			{{ WordleResult.result_date }}<br/>
			{{ WordleResult.table_text }}<br/>
			{{ WordleResult.answer }}<br/>
			
			<img src={% static "/WordleColourResult/images/sqorange.gif" %}>
			<img src="/static/WordleColourResult/images/sqgrey.gif"><br/>
			<form method="post">
				{% csrf_token %}
				<fieldset>
					{% for item in ANSWERS %}
						<label for="{{ item.0 }}">{{ item.1 }}</label>
						<input type='radio' name="result" id="{{ item.0 }}" value="{{ item.0 }}" ><br/>
					{% endfor %}
				</fieldset>
				<!-- <input type="submit" value="apply" name="{{ WordleResult.id }}"> -->
				<button type="submit" name="button" value="{{ WordleResult.id }}"><img src="/static/WordleColourResult/images/sqorange.gif"> APPLY </button>
			</form>
			<div id="my-div">
				<a href='/admin' class="fill-div"><img src="/static/WordleColourResult/images/sqgrey.gif">blah blah</a>
			</div>
		{% endfor %}
	</ul>
	
	<h1>Table_try</h1>

	<ul>
		<form method="post">
			{% csrf_token %}
			{% for i in table_try %}
				<li>{% for x in i %}
					{% if x == 0 %}
						<button type="submit" name="table_button" value="{{i}}"><img src="/static/WordleColourResult/images/sqorange.gif"></button>
					{% endif %}

					{% if x == 1 %}
					<a href="" class='fill-div'><img src="/static/WordleColourResult/images/sqgreen.gif"></a>
					{% endif %}

					{% if x == 2 %}
					<img src="/static/WordleColourResult/images/sqgrey.gif">
					{% endif %}				
				{% endfor %}</li>
			{% endfor %}
			<button type="submit" name="table_save_button" value="save"> APPLY </button>
		</form>
	</ul>
	
	<h1>Table</h1>

	<ul>
		{% for i in n %}
			<li>{% for x in n %}
				<img src="/static/WordleColourResult/images/sqgrey.gif">
			{% endfor %}</li>
		{% endfor %}
	</ul>

	<h1>end page</h1>
	
</body>
</html>