<!doctype html>
{% extends 'register/accountheader.html' %}
{% load static %}
<html>
<head>
    {% block title %} 
    <link rel="stylesheet" type="text/css" href="{% static 'WordleColourResult/style.css' %}">
    
    {% endblock %}
</head>

<body>
    {% block content %}
    <h1>Today's result</h1>
    
    {% if user.is_authenticated %}
        USER AUTHENTICATED - you have access to site <br/><br/>
        Logged user: {{user.username}}<br/>
        <ul>
            <table>
                <tr>
                    {% for RealResult in TR %}
                        {% ifchanged RealResult.result_date %}
                            </tr>
                            <tr>
                        {% endifchanged %}
                        <td>
                            <li>User name: <b>{{ RealResult.owner }}</b></li>
                            <li>Date: {{ RealResult.result_date }}</li>
                            <li>Time: {{ RealResult.result_time }}</li>
                            {% for j in RealResult.result_letters %}
                                {% if j == 'Y' %}
                                    <img src="/static/WordleColourResult/images/sqorange.gif">
                                {% endif %}
                                {% if j == 'G' %}
                                    <img src="/static/WordleColourResult/images/sqgreen.gif"></a>
                                {% endif %}
                                {% if j == 'B' %}
                                    <img src="/static/WordleColourResult/images/sqgrey.gif">
                                {% endif %}
                                {% if j == 'E' %}
                                    <br/>
                                {% endif %}
                            {% endfor %}
                            <br/>
                            {% if user == RealResult.owner or user.username == 'admin' %}
                                <form method="post">
                                    {% csrf_token %}
                                    <fieldset>
                                        <label for="new_result_letters">Change result letters:</label>
                                        <br/>
                                        <textarea name="new_result_letters" id="new_result_letters" cols="50" rows="1" >{{RealResult.result_letters}}</textarea>
                                            <br/>
                                    </fieldset>
                                    <!--<input type="submit" value="apply" name="{{ WordleResult.id }}"> -->
                                    <button type="submit" name="button2" value="{{ RealResult.owner }}"> APPLY </button>
                                </form>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </ul>
    {% else %}
        USER NOT AUTHENTICATED
    {% endif %}

    <h1>HISTORICAL RESULTS</h1>

    {% if user.is_authenticated %}
        <ul>
            <table>
                <tr>
                    {% for RealResult in RR %}
                        {% ifchanged RealResult.result_date %}
                            </tr>
                            <tr>
                        {% endifchanged %}
                        <td>
                            <li>User name: <b>{{ RealResult.owner }}</b></li>
                            <li>Date: {{ RealResult.result_date }}</li>
                            <li>Time: {{ RealResult.result_time }}</li>
                            {% for j in RealResult.result_letters %}
                                {% if j == 'Y' %}
                                    <img src="/static/WordleColourResult/images/sqorange.gif">
                                {% endif %}

                                {% if j == 'G' %}
                                    <a href=""><img src="/static/WordleColourResult/images/sqgreen.gif"></a>
                                {% endif %}
                        
                                {% if j == 'B' %}
                                    <img src="/static/WordleColourResult/images/sqgrey.gif">
                                {% endif %}

                                {% if j == 'E' %}
                                    <br/>
                                {% endif %}
                            {% endfor %}
                            <br/>
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </ul>
    {% else %}
        USER NOT AUTHENTICATED
    {% endif %}

    <h1>end page</h1>

    {% endblock %}
</body>
</html>